<h1>Background!</h1>
<h2>Symptoms</h2>
<ambu-parts-background-symptoms
    [background]="background"
    [isDisabled]="isDisabled"
></ambu-parts-background-symptoms>
<h2>Allergies</h2>
<ambu-parts-background-allergies
  [background]="background"
  [isDisabled]="isDisabled"
></ambu-parts-background-allergies>
<h2>Medication</h2>
<ambu-parts-background-medication
  [background]="background"
  [isDisabled]="isDisabled"
></ambu-parts-background-medication>
<h2>Past</h2>
<ambu-parts-background-past
  [background]="background"
  [isDisabled]="isDisabled"
></ambu-parts-background-past>
<h2>Events</h2>
<ambu-parts-background-events
  [background]="background"
  [isDisabled]="isDisabled"
></ambu-parts-background-events>
